{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "Welcome to Your App" %}</h1>
    <p>
        {% blocktrans %}
        This app is built to get you started developing your own shopify
        app in Django. It's got app authentication and some basic API
        calls built in. It runs on Pinax and Twitter Bootstrap.
        {% endblocktrans %}
    </p>
    
    <h2>Setting Up Your Django Shopify App</h2>
    <p>
    {% url starting_an_app as starting_an_app_url %}
    {% url editing_shopify_settings as edit_settings_url %}
    {% blocktrans %}
        To get started check out the docs:
        <ol>
            <li><a href="{{ starting_an_app_url }}">Starting a Shopify App</a></li>
            <li><a href="{{ edit_settings_url }}">Editing your settings file</a></li>
            <li><a href='{{ https://app.shopify.com/services/partners/api_clients/test_shops }}'</a>Create a Shopify Test Shop</a></li>
            <li>Authenticate Your Site</li>
        {% endblocktrans %}
    </p>
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url account_login as login_url %}
        {% url account_signup as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
